USE [master]
GO
/****** Object:  Database [BibliotekaDb]    Script Date: 23.7.2018. 01.39.06 ******/
CREATE DATABASE [BibliotekaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotekaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BibliotekaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotekaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BibliotekaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotekaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotekaDb]
GO
USE [BibliotekaDb]
GO
/****** Object:  Table [dbo].[Clanovi]    Script Date: 23.7.2018. 01.39.07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanovi](
	[IdClana] [int] IDENTITY(1,1) NOT NULL,
	[ImeClana] [nvarchar](50) NOT NULL,
	[GodinaRodjenjaClana] [nvarchar](50) NOT NULL,
	[JMBGClana] [int] NOT NULL,
	[KontaktClana] [nvarchar](50) NOT NULL,
	[EmailClana] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iznajmljivanje_knjige]    Script Date: 23.7.2018. 01.39.07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iznajmljivanje_knjige](
	[IdIznajmljivanja] [int] IDENTITY(1,1) NOT NULL,
	[JMBGClana] [int] NOT NULL,
	[ImeClana] [nvarchar](50) NOT NULL,
	[KontaktClana] [nvarchar](50) NOT NULL,
	[EmailClana] [nvarchar](50) NOT NULL,
	[ImeKnjige] [nvarchar](50) NOT NULL,
	[DatumIznajmljivanja] [nvarchar](50) NOT NULL,
	[DatumVracanjaKnjige] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIznajmljivanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lista_knjiga]    Script Date: 23.7.2018. 01.39.07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lista_knjiga](
	[IdKnjige] [int] IDENTITY(1,1) NOT NULL,
	[ImeKnjige] [nvarchar](50) NOT NULL,
	[ImeAutora] [nvarchar](50) NOT NULL,
	[ZanrKnjige] [nvarchar](50) NOT NULL,
	[ImeIzdavackeKuce] [nvarchar](50) NOT NULL,
	[GodinaIzdavanjaKnjige] [nvarchar](50) NULL,
	[CenaKnjige] [int] NOT NULL,
	[KolicinaKnjiga] [int] NOT NULL,
	[DostupnostKnjiga] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKnjige] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Korisnici]    Script Date: 23.7.2018. 01.39.07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Korisnici](
	[KorisnikId] [int] IDENTITY(1,1) NOT NULL,
	[PunoIme] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Kontakt] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KorisnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
